body{
    background-color:rgb(55, 146, 37);
   background-image: url(https://previews.123rf.com/images/inerika/inerika1506/inerika150600066/41490631-arrugado-fondo-de-papel-kraft-de-color-marr%C3%B3n.jpg);
    text-align: center;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   border: 5px solid rgb(134, 213, 145);
   color:#013F12;
   
}